package {{ .PackageName }}

import (
	"context"
	"fmt"

	"github.com/go-redis/redis/v9"
	"github.com/gota33/initializr"
)

type RedisV9 struct {
	Host     string
	Port     int64
	Username string
	Password string
	DB       int64
}

func NewRedisV9(c initializr.Configuration) RedisV9 {
	const (
		keyHost     = "host"
		keyPort     = "port"
		keyUsername = "username"
		keyPassword = "password"
		keyDB       = "db"
	)
	return RedisV9{
		Host:     c.Get(keyHost).AsString(""),
		Port:     c.Get(keyPort).AsInt64(6379),
		Username: c.Get(keyUsername).AsString(""),
		Password: c.Get(keyPassword).AsString(""),
		DB:       c.Get(keyDB).AsInt64(1),
	}
}

func (p RedisV9) New(ctx context.Context) (client *redis.Client, err error) {
	client = redis.NewClient(&redis.Options{
		Addr:     fmt.Sprintf("%s:%d", p.Host, p.Port),
		Username: p.Username,
		Password: p.Password,
		DB:       int(p.DB),
	})

	err = client.Ping(ctx).Err()
	return
}
